.sustain-page {
  width: 100%;
  min-height: 100vh;
  background-image: url("/bg-sust.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.sustain-layer-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.sustain-layer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.logo-container {
  text-align: center;
}

.logo-container img {
  width: 50vw;
  height: auto;
  margin-top: 0;
}

.wp-logo {
  width: 80vw;
  height: auto;
  margin-top: 6vw;
}

.sustain-title {
  font-size: 7vw;
  text-align: center;
  margin-bottom: 20px;
  color: wheat;
  text-decoration: bold;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.hero-sust {
  width: 100%;
}

.text-cont-sust-title {
  position: absolute;
  top: -15vh;
  left: 30%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  padding: 0 10px;
  z-index: 1;
}

.text-cont-sust-title h1 {
  margin: 0;
  font-size: 4vw;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.text-section-sust {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.text-content-sust {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: white;
  color: black;
  border-radius: 10px;
  text-align: left;
  position: relative;
  border-top: 20vh solid;
  border-image: linear-gradient(to right, rgb(29, 204, 146), lightgreen) 1;
  clip-path: polygon(0 0, 10% 0, 0 10%, 0 100%, 100% 100%, 100% 0);
  padding-bottom: 2vh;
}

.text-left {
  flex: 2;
  padding-right: 20px;
  padding-left: 2vw;
  font-size: 1.22rem;
}

.image-container-sust {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container-sust img {
  width: 30vw;
  height: auto;
  border: 2px solid #ddd;
  border-radius: 8px;
}

.footer {
  width: 100%;
}

@media (max-width: 1024px) {
  .logo-container {
    margin-top: 25%;
  }
  
  .text-cont-sust-title h1 {
    font-size: 10vw;
  }
  
  .text-cont-sust-title {
    top: -20vh;
    left: 50%;
  }
  
  .text-left {
    font-size: 1rem;
  }
  
  .text-content-sust {
    flex-direction: column;
    min-height: auto;
    clip-path: polygon(0 0, 0% 0, 0 0%, 0 100%, 100% 100%, 100% 0);
  }
  
  .text-section-sust {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .image-container-sust {
    flex: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-container-sust img {
    width: 80vw;
  }
  
  .hero-sust {
    height: 80%;
  }
  
  .logo-container img {
    width: 70vw;
    height: auto;
    margin-top: 10%;
  }
}