  .parallax-container {
    height: 100vh;
    overflow: hidden;
  }

  .techno-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-image: url('/bg-tech.png');
    background-size: cover;  /* Ensures the background covers the entire container */
    background-position: center;  /* Centers the background image */
    background-repeat: no-repeat;  /* Prevents the background from repeating */
  }

  .text-layer-tech {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 10vh;
  }

  .hero-tech {
    background-image: url("/bg-tech-hero.png");
    width: 100%;
    background-size: cover;  /* Ensures the background covers the entire container */
    background-position: center;  /* Centers the background image */
    background-repeat: no-repeat;  /* Prevents the background from repeating */
  }

  .text-content-tech {
    width: 70%;
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 4vh;
    text-align: left;
    position: relative;
    border-top: 8vh solid lightskyblue;
    clip-path: polygon(0 0, 5% 0, 0 10%, 0 100%, 100% 100%, 100% 0);
  }

  .image-layer-tech {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

  }

  .image-layer-tech img {
    width: 120vh;
    height: auto;
    object-fit: cover;
    padding-bottom: 20px;
    transition: transform 0.3s ease; 
  }
  .image-layer-tech img:hover {
    
    transform: scale(1.2);
  }
  .file-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1.4rem;
    box-sizing: border-box;
  }
  
  .gallery-image {
    width: 20vw;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease; 
  }
  
  .gallery-image:hover {
    transform: scale(1.2);
  }
  @media (max-width: 1024px) {
    .text-content-tech {
      width: 95%;
      padding: 2vh;
      border-top: 4vh solid lightskyblue;
      clip-path: polygon(0 0, 2% 0, 0 10%, 0 100%, 100% 100%, 100% 0);
    }

    .hero-tech {
      height: 75%;
    }

    .image-layer-tech img {
      width: 100vw;
      height: auto;
    }
    .gallery-image {
      width: 50vw;
    }
    .gallery-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .image-layer-tech img:hover {
    
      transform: scale(1.12);
    }
  }